<div class="container">
    <div class="col-12 text-center">
        <div id="messages">
        <% @conversation.messages.each do |message| %>
            <% if message.body %>
                <h4 class="media-heading"><%= message.user.username %> <small class="text-muted"><%= message.message_time %></small></h4>
                <p><%= message.body %></p>
            <% end %>
        <% end %>
        </div>
      </div>
</div>

<hr>

<div class="container">
    <div class="col-12 text-center">
        <%= form_for [@conversation, @message] do |f| %>
            <%= f.text_area :body %>

            <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
            <br>

            <%= f.submit("Send", :class => "btn btn-primary") %>

        <% end %>
    </div>
</div>