<%= flash[:message] if flash[:message] %>
<br>

<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-light">Log in</h1>

        <%= form_for :user do |f| %>

            <%= f.label :username %>
            <%= f.text_field :username %>
            <br>
            <%= f.label :password %>
            <%= f.password_field :password %>
            <br><br>
        
            <%= f.submit("Log in!", :class => "btn btn-primary") %>
        
        <% end %>
      </div>
    </div>
  </div>
</header>