<div class="card my-4">

    <% if @comment.product %>
        <h2 class="card-header">Add a Comment for <%= @comment.product.name %>: <% else %> Add a Comment: </h2>
    <% end %>

    <div class="card-body">
        <div class="form-group">

            <%= form_for([@comment.product, @comment]) do |f| %>
                
                <% if !@comment.product %>
                    <%= f.label :product %>
                    <%= f.collection_select :product_id, Product.all, :id, :name %>
                <% else %>
                    <%= f.hidden_field :product_id %>
                <% end %>

                <%= f.text_area(:content, :class => "form-control", :rows => "3") %>

                <br>
                    
                <%= f.submit("Create comment", :class => "btn btn-primary") %>
                        
            <% end %>

        </div>
    </div>
</div>