<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-light">Sign Up</h1>

        <%= render partial: "layouts/errors", locals: { object: @user } %>
        
        <%= form_for(@user, url:'/signup') do |f| %>

            <%= f.label :username %>
            <%= f.text_field :username %>
            <br><br>
            <%= f.label :email %>
            <%= f.email_field :email, required:true %>
            <br><br>
            <%= f.label :password %>
            <%= f.password_field :password %>
            <br><br>

            <%= f.submit("Sign up!", :class => "btn btn-primary") %>

        <% end %>
      </div>
    </div>
  </div>
</header>