<h1>New Product</h1>

<%= form_for(@product) do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :category %>
    <%= f.collection_select :category_id, Category.all, :id, :name %>
    <br>
    <%= f.label :quantity %>
    <%= f.text_field :quantity, placeholder: "pieces, pounds, etc." %>
    <br>
    <%= f.label :price %>
    <%= f.text_field :price, :value => "$" %>
    <br>
    <%= f.label :description %>
    <%= f.text_area :description %>
    <br>

    <%= f.submit "Create" %>

<% end %>