<div class="container">
    <div class="row">
      <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4"><%= @product.name %></h1>

        <!-- Author -->
        <% if @product.user != current_user %>
        <p class="lead"> Grown by: <%= link_to @product.user.username, conversations_path(sender_id: current_user.id, recipient_id: @product.user.id), method: 'post' %></p>        
        <% end %>

        <hr>

        <!-- Date/Time -->
        <p><%= @product.created_time %> in <%= link_to @product.category.name, product_category_path(@product.id, @product.category.id) %></p>

        <hr>

        <!-- Post Content -->
        <p>Quantity: <%= @product.quantity %></p>
        <p>Price: $<%= @product.price %></p>
        <p>Description: <%= @product.description %></p>

        <% if @product.user == current_user %>
            <p><%= link_to "Edit", edit_product_path(@product) %> or <%= button_to "delete product", product_path(@product), method: :delete, data: { confirm: "You sure?" } %></p>
        <% end %>
    
        <hr>
        
        <h4>Comments:</h4>

        <% if @product.comments.empty? %>
            <p>Be the first to leave a comment!</p>
        <% end %>

        <p><%= link_to "See all comments", product_comments_path(@product) %> or <%= link_to "add a new comment", new_product_comment_path(@product) %></p>

        <!-- Single Comment -->
        <div class="media mb-4">
            <div class="media-body">
            <% @product.comments.limit(5).each do |comment| %>
                <h5 class="mt-0"><%= link_to comment.user.username, conversations_path(sender_id: current_user.id, recipient_id: comment.user.id), method: 'post' %></h5>
                <%= comment.content %>
                <p>Likes: <%= comment.likes %></p>
                <%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-thumbs-up') + 'Like', like_comment_path(:id => comment.id), method: :get %>
            <% end %>
            <br><br>
          </div>
        </div>
      </div>
    </div>
  </div>