<!DOCTYPE html>
<html>
  <head>
    <title>PlantFriend</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
    <% if logged_in? %>
      <%= link_to "Logout", logout_path, method: "delete" %> |
      <%= link_to "Add a product", new_product_path %> |
      <%= link_to "View all products", products_path %> |
      <%= link_to "Your profile", user_path(@user) %>
    <% else %>
      <%= link_to "Sign up", signup_path %> |
      <%= link_to "Log in", login_path %> |
    <% end %>
    </div>
    <div>
      <% if flash[:message] %>
        <%= flash[:message] %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
